body {
    padding: 0;
    margin: 0;
}

#header-container {
    /* background-color: chocolate; */
    width: 70%;
    min-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
}

#logo-container {
    /* background-color: blueviolet; */
    display: inline-block;
    margin: 20px;
}

#logo-img {
    height: 10vh;
    min-height: 75px;
}

#menu-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: auto;
    width: 50%;
    min-width: 580px;
    /* background-color: aqua; */
}

span.menu-item {
    flex-grow: 1;
    flex-basis: auto;
    /* background-color: darkorange; */
}

a.menu-item {
    /* background-color: burlywood; */
    font-family: "Lexend", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    display: inline-block;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: color 300ms;
}

a.menu-item:hover {
    color: rgb(100, 100, 100);
    transition: color 300ms;
}

#content-container {
    /* background-color: yellowgreen; */
    width: 70%;
    min-width: 920px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

#main-content {
    flex-grow: 1;
    /* background-color: fuchsia; */
    margin: 20px; 
    border-radius: 20px;
}

p {
    font-family: "Lexend", sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    margin: 20px;
    padding: 0;
}

#contact-us-button-temp {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.26);
    text-decoration: none;
    color: black;
    border-radius: 10px;
    display: inline;
    margin: auto;
    text-align: center;
}

#contact-us-button-temp:hover {
    background-color: rgba(255, 0, 0, 0.541);
}